<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='input.css')}}">


</head>
<div class="container">
  
    <h2>Codon Generator<small>Inputs</small></h2>
    
    <form action="/codons_list" method="post">
      
      <div class="group">      
        <input name="codons" type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Codons</label>
      </div>
        
      <div class="group">      
        <input name="number_of_codons" type="number" 
        min="2" 
        max="4" 
        step="1" 
        value="3"
        required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Number Of Codon Set</label>
      </div>
      <div class="group">      
      <button class="custom-btn btn-15">Submit</button>
    </div>
    </form>
        

    
  </div>


  </html>